In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df1 = pd.read_csv('./data_in/SRE.csv')

In [5]:
df1.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-09-04,116.370003,117.449997,116.099998,116.989998,113.424011,2142900
1,2018-09-05,117.010002,118.279999,116.690002,118.139999,114.538956,1856300
2,2018-09-06,118.279999,118.970001,117.699997,118.029999,114.432312,1203800
3,2018-09-07,117.139999,117.589996,116.379997,116.849998,113.288277,1216500
4,2018-09-10,117.309998,118.199997,116.910004,117.599998,114.015419,1072000

In [6]:
df1.shape

(250, 7)

In [7]:
df1.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
245,2019-08-26,139.070007,141.919998,138.990005,141.789993,141.789993,1282700
246,2019-08-27,142.500000,142.860001,141.029999,141.429993,141.429993,1633400
247,2019-08-28,141.570007,142.149994,141.009995,142.000000,142.000000,1216400
248,2019-08-29,142.330002,142.660004,141.639999,142.240005,142.240005,1444300
249,2019-08-30,142.910004,142.910004,141.320007,141.630005,141.630005,1040300